:root {
    --aqua-green:#5cdb95;
    --navy-blue:#05386b;
    --off-white-green:#edf5e1;
    --light-green:#a4ffbb;
}

.app-logo-text {
    font-size: 30px;
    font-family: fantasy;

    color: var(--navy-blue);
}

.test-info-box {
    font-size: 30px;
    font-family: fantasy;

    color: var(--navy-blue);
}

.typing-words {
    font-size: 30px;
    font-family: fantasy;

    color: var(--off-white-green);
}

.typed-words {
    font-size: 30px;
    font-family: fantasy;

    color: var(--light-green);
}


.typing-test-base {
    width: 50%;

    margin: auto;
} 