:root {
    --aqua-green:#5cdb95;
    --navy-blue:#05386b;
    --off-white-green:#edf5e1;
    --light-green:#a4ffbb;
}

.app-logo-text {
    font-size: 30px;
    font-family: fantasy;

    color: var(--navy-blue);
}

.test-info-box {
    font-size: 30px;
    font-family: fantasy;

    color: var(--navy-blue);
}

.typing-letter {
    font-size: 30px;
    font-family: fantasy;

    color: var(--off-white-green);
}

.typing-test-base {
    width: 50%;

    /* border-style: dashed;
    border-width: 5px;
    border-color:#05386b; */

    margin: auto;
}